
#topwrapper{
	position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
	height: 70px;
	background: #E68A00; 
    border-collapse: collapse; 
    box-shadow: 0px 0px 15px 3px #333;
    z-index:2;
    background: url('topnav.png') repeat;
}


#topnav a{
	height:30px;
	padding:20px;
	color: #000000;
	text-decoration: none;
	display: block;
}


#topnav a:hover,#sidenav a:hover{
	color: #000;
	text-shadow: 1px 1px 15px #CC6600;
}

#topnav div{

	height: 70px;
	font:   25px Trebuchet MS,Verdana,arial;
	color: #CCFFFF;
}#logo,#logo a{

	height:30px;
	padding:0px;
	color: #000000;
	text-decoration: none;
	display: block;
	float:left;
}

.topnavleft {
	margin:0px;
	float:left;
}

.topnavright{
	margin:0px;
	float:right;
}


.topnavright:hover,.topnavleft:hover,#logo{
	background: rgba(204, 102, 0,0.5);
}
.topnavright a:hover{
	cursor:default;
}
#front{
   background-color: rgba(255,255,255,0.5);
    padding:20px;
    margin-top:70px;
    box-sizing: border-box;
    font-family:"Arial Black", Gadget, sans-serif;
	
}