
*{
	margin: 0px;
}
html,body{
	height:100%;
	/*background-image:url('bg.jpg');*/
	/*text-shadow:0px 0px 2px #FFFFFF;*/

	background: url('bg.jpg') no-repeat;
	background-attachment: fixed;
	background-size: 25%;
	background-position: 50% 50%;
}
#maincontent{
	display: block;
    min-height:100%;
    width: 85%;
    float:right;
    /*bottom:0;*/
    min-width: 500px;
    padding:20px;
    padding-top:90px;
    box-sizing: border-box;
    font-family:"Arial Black", Gadget, sans-serif;
	
}
#topnav{
	position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
	height: 70px;
	background: #06c; 
    border-collapse: collapse; 
    box-shadow: 0px 0px 15px 3px #000000;
    z-index:2;
}

#topnav a{
	height:30px;
	padding:20px;
	color: #CCFFFF;
	text-decoration: none;
	display: block;
}

#sidenav a{
	padding:10px;
	color: #CCFFFF;
	text-decoration: none;
	display: block;
}

#topnav a:hover,#sidenav a:hover{
	color: #ffffff;
	text-shadow: 1px 1px 15px #FFFFFF;
}

#topnav div{

	height: 70px;
	font:   25px Trebuchet MS,Verdana,arial;
	color: #CCFFFF;
}

.topnavleft {
	margin:0px;
	float:left;
}

.topnavright{
	margin:0px;
	float:right;
}

#sidenav{
	position: fixed;
	width:15%;
	float:left;
	height:100%;
	margin-bottom: 0px;
	margin-top: 70px;
	margin-left: 0px;
	padding-top: 10px;
	background: #06c; /* Old browsers */
	box-shadow: 0px 0px 6px 2px #000;
    z-index:1;
}
.sidenavlink {
	width:100%;
	font: 15px Verdana,arial;
	color: #CCFFFF;
}
.topnavright:hover,.topnavleft:hover,.sidenavlink:hover{
	background: #09F;
}

#logo{
	float:left;
}
#maincontent .content h3{
    color: #656565;
    font-size: 15px;
    margin: 8px 0px 12px;
    font-weight: 700;
}
#maincontent .content p{
	margin: 0px;
	margin-top: 7px;
	font: 12px/1.5em Arial,sans-serif;
	padding:0;
	text-align: justify;
	border-collapse: separate;
	color:#444;
}
#maincontent .content ul {
	
	font: 12px/1.5em Arial,sans-serif;
    font-family: Arial,Helvetica,sans-serif;
    margin: 0px;
    padding: 0px;
    padding-left: 10px;
    list-style: disc outside none;
    padding-bottom: 6px;
}
#maincontent .content li{
	color: #444;
	font-family: Arial,Helvetica,sans-serif;
    margin: 0px;
    padding: 0px;
	padding-left: 10px;
    list-style: disc outside none;
    padding-bottom: 6px;
    list-style-type: square;
    list-style-position: inside;
}
.unsolved{
	border-right-width: 10px;
	border-right-style:solid;
	border-right-color:#CC0000;
}
.unsolved:hover{
	border-right-color:#CC3333;	
}
.solved{
	border-right-width: 10px;
	border-right-style:solid;
	border-right-color:#009900 	;
}
.solved:hover{
	border-right-color:#00CC33;	
}
